[Unit]
Description=mymonitor system metrics streamer
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mymonitor-rpi3b -s
Restart=on-failure
RestartSec=5

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
